@using aspcore_watchshop.Hepler
@model aspcore_watchshop.ViewModels.OrderVM
@{
    aspcore_watchshop.ViewModels.OrderVM obj = Model == null ? new aspcore_watchshop.ViewModels.OrderVM(): Model;
    var layoutData = LayoutData.Instance;
}
@section scripts{
    <script src="~/js/cart.js"></script>   
    <script src="~/js/cart-form.js"></script>   
}
<span id="page" data-code="-1" ></span>
<!--Banner small-->
<div class="container-fluid">
    <div class="banner-sm section">
        <p class="white m-0">@layoutData.NamePage</p>
    </div>
</div>
<!--Cart-->
<div class="container">
    <div class="cart contents">    
        <!-- Cart - Shopping -->
        <div class="section">
            <!--Cart - Header List-->
            <div class="d-flex align-items-center">
                <h3 class="mb-4">Sản phẩm</h3>
                <p class="ml-auto"> <span id="count-items">0</span> sản phẩm<p>
            </div>
            <!--Cart - List Item-->
            <div id="cart-container">
                <div class="loader"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>            
        <!-- Bill Info-->
        <div id="bill" class="section">
            <div class="row mb-4">
                <div class="col-12 col-lg-6 order-lg-1 section">
                    <table class="table">
                        <tbody >
                            <tr>
                                <td>Tổng đơn hàng</td> 
                                <td><span order-total>0</span> đ</td> 
                            </tr>
                            <tr>
                                <td>Giảm giá Bill</td> 
                                <td><span order-discount>0 đ</td> 
                            </tr>
                            @if(ViewBag.Fees != null ){
                                foreach(var item in ViewBag.Fees){
                                    <tr>
                                        <td>@item.Name</td> 
                                        <td><span order-fee data-cost="@item.Cost" ></span></td> 
                                    </tr>
                                }
                            }
                            <tr class="bold">
                                <td>Thanh Toán</td> 
                                <td class="red"><span class="text-4" order-pay>0</span> đ</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Form-->
                <div class="col-12 col-lg-6 order-lg-0">
                    <h3 class="mb-4">Thông tin giao hàng</h3>
                    
                    <form action="don-hang/xac-nhan-don-hang" id="form-confirm" method="POST">
                        <div class="control-input validate">
                            <label>Họ tên người nhận</label>
                            <input asp-for="@Model.CustomerName" value="@obj.CustomerName" class="mb-3"  type="text" required>
                            <span><span class="error" >Không được để trống</span></span>               
                        </div>
                        <div class="control-input validate">
                            <label>Số điện thoại</label>
                            <input asp-for="@Model.CustomerPhone" value="@obj.CustomerPhone" class="mb-3" type="tel"  pattern="^0\d+" minlength="9" maxlength="10"  required>
                            <span><span class="error text-sub" asp-validation-for="@Model.CustomerPhone">SĐT gồm 10 chữ số và bắt đầu với số 0</span></span>               
                        </div>
                        <div class="control-input validate">
                            <label>Email</label>
                            <input asp-for="@Model.CustomerEmail" value="@obj.CustomerEmail" class="mb-3" type="email" pattern="[\w+|\W+]*[@@]\w+[.]\w+" required >
                            <span><span class="error text-sub">Email có dạng ' abc@mail.com '</span></span>               
                        </div>
                        <div class="control-input validate local" >
                            <label>Địa chỉ giao hàng</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div local-province class="dropdown dropdown-ouline black bg-white ml-lg-auto mb-3">
                                        <div class="select select-ouline">
                                            <span class="placeholder">Chọn Tỉnh/TP</span>
                                            <i class="black las la-angle-down"></i>
                                        </div>
                                        <input type="hidden" asp-for="@Model.CustomerProvince" value="@obj.CustomerProvince" required>
                                        <ul class="dropdown-menu bg-white"></ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div local-district class="dropdown dropdown-ouline black bg-white ml-lg-auto mb-3">
                                        <div class="select select-ouline">
                                            <span class="placeholder">Quận/Huyện</span>
                                            <i class="black las la-angle-down"></i>
                                        </div>
                                        <input type="hidden" id="district" name="district" required>
                                        <ul class="dropdown-menu bg-white"> </ul>
                                    </div>
                                </div>   
                            </div>
                            <span><span class="error text-sub"></span></span>               
                        </div>
                        <div class="control-input validate">
                            <label>Số nhà, tên đường (hoặc địa chỉ cụ thể)</label>
                            <input class="mb-3" asp-for="@Model.CustomerAddress" value="@obj.CustomerAddress" type="text" required>
                            <span><span class="error text-sub">Không được để trống</span></span>               
                        </div>
                        <div>
                            <label>Ghi chú</label>
                            <textarea asp-for="@Model.CustomerNote" class="mb-3 d-block w-100" rows="3"></textarea>
                        </div>
                        <button type="submit" class="d-none" ></button>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-lg bg-black white border-none"> Tiếp tục </button>
            </div>
        </div>
    </div> 
</div>
